<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
   <form method='post'>
       {% csrf_token %}
       {{ form }}
       <input type="submit" value="提交" />
   </form>
</body>
<script type="text/javascript" src="/static/js/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.js"></script>
<script type="text/javascript">
    $(function(){
        console.log('abc')
    })
</script>
</html>